replicaCount: 1
proto: https
stage: prod
appEnv: prod
appDebug: 0
timezone: Europe/Berlin

elasticsearchPublisher:
  name: elasticsearch
  component: elasticsearch
  image: elasticsearch
  tag: 5.6
  serviceName: elasticsearch

elasticsearchSuperdesk:
  name: elastic-deployment
  component: elastic
  image: elasticsearch
  tag: 2.4-alpine
  serviceName: elastic

memcached:
  name: memcached-deployment
  component: memcached
  image: memcached
  tag: latest
  serviceName: memcached

mongodb:
  name: mongodb-deployment
  component: mongodb
  image: mongo
  tag: 3.4
  serviceName: mongodb
  pvcSize: 50Gi

nginx:
  name: nginx-deployment
  component: nginx
  image: harbor.cloud.funkedigital.de/superdesk/prod/nginx
  tag: latest
  serviceName: publisher

postgres:
  name: postgres
  component: postgres
  image: postgres
  tag: latest
  serviceName: postgres
  pvcSize: 20Gi

publisher:
  name: php
  component: php
  image: harbor.cloud.funkedigital.de/superdesk/prod/php
  tag: latest
  serviceName: php
  superdeskHost: "superdesk.cloud.funkedigital.de"
  pvcSize: 120Gi

rabbitmq:
  name: rabbitmq-deployment
  component: rabbitmq
  image: rabbitmq
  tag: management
  serviceName: rabbitmq

redis:
  name: redis-deployment
  component: redis
  image: redis:alpine
  tag: 5.0
  serviceName: redis

superdesk:
  name: superdesk-deployment
  component: web
  image: harbor.cloud.funkedigital.de/superdesk/prod/superdesk
  tag: latest
  serviceName: superdesk-service-ip
  baseUrl: "superdesk.cloud.funkedigital.de"
  swpHost: "publisher.cloud.funkedigital.de"
  pvcSize: 100Gi

supervisor:
  name: supervisor-deployment
  component: supervisor
  image: harbor.cloud.funkedigital.de/superdesk/prod/supervisor
  tag: latest
  serviceName: supervisor

service:
  type: ClusterIP

resources:
  limits:
    cpu: 7
    memory: 13Gi
  requests:
    cpu: 7
    memory: 13Gi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/body-size: "1024m"
    nginx.ingress.kubernetes.io/proxy-body-size: "1024m"
    nginx.org/client-max-body-size: "1024m"
  hosts:
    - host: superdesk.cloud.funkedigital.de
      paths:
        - path: /
          backend:
            serviceName: superdesk-service-ip
            servicePort: 80
        - path: /api
          backend:
            serviceName: superdesk-service-ip
            servicePort: 5000
        - path: /contentapi
          backend:
            serviceName: superdesk-service-ip
            servicePort: 5400
        - path: /ws
          backend:
            serviceName: superdesk-service-ip
            servicePort: 5100
    - host: publisher.cloud.funkedigital.de
      paths:
        - path: /
          backend:
            serviceName: publisher
            servicePort: 80
        - path: /ws
          backend:
            serviceName: supervisor
            servicePort: 8080
    - host: www.wmn.de
      paths:
        - path: /
          backend:
            serviceName: publisher
            servicePort: 80
        - path: /ws
          backend:
            serviceName: supervisor
            servicePort: 8080
    - host: origin.wmn.de
      paths:
        - path: /
          backend:
            serviceName: publisher
            servicePort: 80
  tls:
    - hosts:
        - www.wmn.de
      secretName: www.wmn.de.tls
    - hosts:
        - origin.wmn.de
      secretName: origin.wmn.de.tls
    - hosts:
        - superdesk.cloud.funkedigital.de
      secretName: superdesk.tls
    - hosts:
        - publisher.cloud.funkedigital.de
      secretName: publisher.tls

